<%- include('layouts/header', { title: "Documentation de l'API" }) %>

<h1>Documentation de l'API</h1>
<p>Voici la documentation de l'API pour l'application Catways.</p>

<section>
  <h2>Vue d’Ensemble</h2>
  <p>
    L'API <strong>Catway</strong> permet la gestion des catways et des
    réservations pour un port de plaisance.
  </p>
  <ul>
    <li>
      <strong>Gérer les catways</strong> (ajout, modification, suppression)
    </li>
    <li><strong>Gérer les réservations</strong> (création, annulation)</li>
    <li>
      <strong>Gérer les utilisateurs</strong> (inscription, connexion, mise à
      jour)
    </li>
  </ul>
  <h3>Technologies utilisées</h3>
  <ul>
    <li><strong>Backend :</strong> Node.js avec Express.js</li>
    <li><strong>Base de données :</strong> MongoDB avec Mongoose</li>
    <li><strong>Authentification :</strong> JWT et express-session</li>
    <li><strong>Tests :</strong> Mocha, Chai, Supertest</li>
  </ul>
</section>

<section>
  <h2>Tutoriel</h2>

  <h3>Installation & Configuration</h3>
  <pre><code>
  # Cloner le projet
  git clone https://github.com/FloDevs/API_marina
  cd API_marina
  
  # Installer les dépendances
  npm install
  
  # Configurer la base de données
  # - Créer un fichier .env à la racine du projet avec 4 variables = 
  MONGODB_URI=Votre_URL_de_serveur_MongoDB (local ou en ligne)
  JWT_SECRET=Une_clé_secrète_robuste
  PORT=Le_port_de_votre_application (ex: 3000)
  SESSION_SECRET=Une_autre_clé_secrète_robuste
  
  
  # Lancer le serveur
  node server.js

  # Lancer les test 
  npm test 
  </code></pre>
  
  <h3>Authentification</h3>
  <p>Un premier utilisateur a déjà été créé dans la base de données :</p>
  <ul>
    <li><strong>Email :</strong> first@example.com</li>
    <li><strong>Mot de passe :</strong> first123</li>
  </ul>
  

  <h2>Routes Disponibles</h2>
  <ul>
    <li>POST /auth/register - Enregistrer un nouvel utilisateur</li>
    <li>POST /auth/login - Connexion</li>
    <li>GET /catways - Liste des catways</li>
    <li>POST /catways - Créer un catway</li>
    <li>GET /catways/:id - Détails d'un catway</li>
    <li>PUT /catways/:id - Modifier un catway</li>
    <li>DELETE /catways/:id - Supprimer un catway</li>
    <li>POST /users - Créer un utilisateur</li>
    <li>PUT /users/:id - Modifier un utilisateur</li>
    <li>DELETE /users/:id - Supprimer un utilisateur</li>
    <li>
      GET /reservations/:reservationId - Détails d'une réservation
    </li>
    <li>POST /reservations/:id - Créer une réservation pour un catway</li>
    <li>DELETE /reservations/:reservationId - Supprimer une réservation</li>
  </ul>

  <h2>Glossaire</h2>
  <ul>
    <li>
      <strong>Catway :</strong> Emplacement où un bateau peut être amarré.
    </li>
    <li>
      <strong>JWT (JSON Web Token) :</strong> Standard d’authentification
      utilisé pour sécuriser l’API.
    </li>
    <li><strong>CRUD :</strong> Create, Read, Update, Delete.</li>
  </ul>
</section>

<p><a href="/">Retour à l'accueil</a></p>

<%- include('layouts/footer') %>
