<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <script src="/js/scripts.js" defer></script>
  </head>
  <body>
<header>
    <h1>Catway Manager</h1>
    <nav>
        <a href="/">Accueil</a>
        <a href="/dashboard">Tableau de bord</a>
        <a href="/catways">Catways</a>
        <a href="/reservations">Réservations</a>
        <a href="/documentation">Documentation</a>
        <a href="/auth/logout">Se déconnecter</a>
    </nav>
</header>
